* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    width: 500px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    gap: 2px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    cursor: grab;
    white-space: nowrap;
    overflow-y: hidden;
    padding: 2px;
}

.gallery:active{
    cursor: grabbing;
}
.image{
    scroll-snap-align: start;
    width: 490px;
    height: 290px;
}
.image img{
    width: 492px;
    height: 290px;
}
.gallery::-webkit-scrollbar{
    display: none;
}
